html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

.navbar {
   background-color: white;
   background: white;
   border-color: white;
}

.navbar li { 
  color: #000;
} 

.navbarJuan {
  margin-left: -20px;
  margin-right: -10px;
}

.header {
  background-image: url("img/avila.jpg");
  width: 100%;
  text-align: center;
  color: white;
  padding: 5% 0% 5% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.boton {
  margin: 10px 0px 5px 0px;
}

.badges {
  margin-top: 20px;
}

.footer {
    border-top: 2px solid black;
}

.bigger {
  font-size: 20px;
}

.footericons {
  float: right;
}

.contenido {
  padding: 10px 0px 10px 0px;
}

.textfooter {
  font-size: 20px;
}
@media only screen and (max-width: 767px) {

.header {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.iconos {
  height: 250px;
  width: 250px;
}

.iconosPos {
  text-align: center;
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

.header {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.iconos {
  height: 250px;
  width: 250px;
}

.iconosPos {
  text-align: center;
}

}

@media only screen and (min-width: 1024px) {

.iconos {
  height: 250px;
  width: 250px;
}

.iconosPos {
  text-align: center;
}

}